::selection{
  background: #E8F2FE;
  color: black;
}

.highlight {
  color: gold;
}

.head-image {
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
  background-image: url('https://scontent-sea1-1.xx.fbcdn.net/v/t39.30808-6/475296820_9101660553215481_2658766463660115907_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=4WHpRonDYxMQ7kNvwEPcLU1&_nc_oc=Adn6vbvYn4YCZ3q9sBcj-D-Xda1MHOAdgiYdZ8ETweaQK2LxjlGqCuXKLhR8Te74XQU&_nc_zt=23&_nc_ht=scontent-sea1-1.xx&_nc_gid=6xt_eQo34jLVNMPxOVa0uA&oh=00_AfH21sj-xYaQjHxXlSC0LVkyxRwVzp6MRzaKUOKkmUn1HQ&oe=6800C356');
  background-position: center -250px;
  background-origin: center-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  background: linear-gradient(180deg, rgba(254,244,232,1), rgba(255,223,223,0.72)), url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  filter: contrast(100%) brightness(100%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.content {
  position: absolute;
  margin-top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 650px;
  text-align: justify;
}

.codystar-light {
  font-family: "Codystar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dashed {
  border-style: dashed;  
  border-width: 0.07rem;
}

.light {
  color: #aaa;
}

.grid {
 display: grid; 
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 4px;
}

.gap {
  gap: 8px;
}

.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 4px;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-between {
  justify-content: space-between;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: #555;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 1rem;
  color: #777;
}

html {
  scroll-bahavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #fef4e8;
}

@media screen and (max-width: 650px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  .content {
    width: 95%;
  }
}

@media (prefers-color-scheme: dark) {
h1,
h2,
h3 {
  color: #ccc;
}

  body{
    color: #eee;
  }
  
  html {
    background-color: #111;
  }

  .bg-image {
    filter: contrast(100%) brightness(100%);
    background: linear-gradient(180deg, rgba(29,29,59,1), rgba(37,60,98,0.8)), url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  body {
    color: #ccc;
  }
}
